<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form (ngSubmit)="save(f)" #f="ngForm">
        <div class="form-group">
        <div>
          <label for="partyTitle">Party Title: </label>
          <input type="text" id="partyTitle" name="party_title" class="form-control" ngModel placeholder="Party Title"/>
        </div>
        <div>
          <label for="selectProject">Select Project: </label>
          <select id="selectProject" ngModel name="projectId">
              <option *ngFor="let project of projectList" [value]="project.id">
              {{project.projectName}}</option>
            </select>
        </div>
         <div>
          <label for="partyPlace">Party Place: </label>
          <input type="text" id="partyPlace" name="party_place" class="form-control" ngModel placeholder="Party Place"/>
        </div>
        <div>
          <label for="approverId">ApproverId: </label>
         
          <select id="approverId" ngModel name="approverId">
            <option *ngFor="let user of userList" [value]="user.id">
            {{user.name}}</option>
          </select>

         
        </div> 
        <div>
          <label for="attendee">Attendee: </label>
          <ng-multiselect-dropdown
            id="attendee"   
            name="empId"   
            ngModel      
            [placeholder]="'Attendee'"
            [data]="userList"
            [settings]="userDropdownSettings"
            (onSelect)="onItemSelect($event)"
            (onSelectAll)="onSelectAll($event)"
            >
          </ng-multiselect-dropdown>
        </div> 
        <div >
        
          <label >
              Date Time:
              <input [owlDateTime]="dt1"
               [owlDateTimeTrigger]="dt1" 
               placeholder="Date Time"
               ngModel
               name="partyDate">
              <owl-date-time #dt1></owl-date-time>
          </label>
        
        </div>
        <button type="submit" class="btn btn-success">SAVE</button>
      </div>
      </form>

    </div>

  </div>
</div>





  
